.body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #081230;
  /* margin: 1000;
  padding: 0; */
  max-width: fit-content;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  background-color: #081230;
  /* width: max-content; */
}

/* .description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
} */

/* .description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
} */

/* .description p {
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
} */

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  max-width: var(--max-width);
} */

.card {
  padding: 1rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 8rem 0 6rem;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  margin-left: -400px;
  transform: none;
  height: 300px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(50px);
  transform: translateZ(0);
}

.logo {
  margin: 100px;
  position: relative;
}

.navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  min-width: 100px;
}

.navImgDiv {
  margin-right: auto;
  margin-left: 10px;
  max-width: 100px;
}

.navLogo {
  height: auto;
  width: auto;
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

@media (max-width: 700px) {
  .content {
    padding: 2rem;
  }

  .blogItem {
    flex-basis: 100%;
    /* max-width: 100%; */
  }

  /* .grid {
    grid-template-columns: 1fr;
    text-align: center;
  } */

  .card {
    margin-bottom: 1rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  /* .description {
    font-size: 0.8rem;
  } */

  /* .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  } */

  /* .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom, rgba(var(--background-start-rgb), 1), rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  } */
  /* 
  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom, transparent 0%, rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  } */
}

@media (min-width: 701px) and (max-width: 1120px) {
  /* .grid {
    grid-template-columns: repeat(2, minmax(40%, 1fr));
  } */
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: max-content;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: drop-shadow(0 0 0.3rem #3263e9e6);
  }
}

@media (max-width: 480px) {
  /* .description {
    font-size: 0.7rem;
  } */

  .card {
    font-size: 0.9rem;
  }

  /* .grid {
    grid-template-columns: 1fr;
  } */
}

@media (min-width: 1121px) {
  /* .description {
    font-size: 1rem;
  } */

  .card {
    font-size: 1rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.mainnav ul {
  display: flex;
}

.mainnav li {
  margin: 1rem;
  list-style: none;
  font-weight: bold;
  padding: 1rem;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blogs h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: #0086fa;
}

.blogs h2 {
  flex: 1;
  flex-basis: 100%;
  box-sizing: border-box;
  padding: 1rem 1rem;
  text-align: center;
}

.blogItem {
  flex-grow: 1;
  /* flex-shrink: 0; */
  flex-basis: 50%;
  max-width: 100%;
  /* height: 500px; */
  /* min-width: 30%; */
  height: auto;
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  background-color: #081d598f;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.blogItemTitle {
  color: #fff;
}

.blogItem h3 {
  font-size: 88px;
  margin-bottom: 5px;
}

.blogItem p {
  font-size: 14px;
  color: #000000;
  background-color: #fff;
  text-align: left;
  padding: 0rem 1rem 0rem 0.5rem;
}

.blogItemImage {
  overflow: hidden;
  border-radius: 8px;
  margin: 0.5rem 0rem;
  position: relative;
  inline-size: auto;
}

.blogItem:hover .blogItemImage {
  filter: blur(1px) brightness(0.4);
}

.blogItem:hover .blogItemDetails {
  opacity: 1;
}

.blogItemDetails {
  position: absolute;
  top: 45%;
  left: 5%;
  right: 5%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  color: white;
  z-index: 0;
  opacity: 0.2;
  font-size: smaller;
  pointer-events: none;
}

.readMore {
  margin: 0rem 0rem;
  pointer-events: auto;
}

.readMoreButton {
  background-color: #0070f3;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.readMoreButton:hover {
  background-color: #0053b3;
}

.hr {
  display: block;
  border-width: px;
  color: #00b3fa;
  opacity: 1;
}